{% extends "::base.html.twig" %}
{% block body %}

    <h1>Back-Office pour Bijoutiers</h1>
    {% block menu %}
        <ul>
            <li>Home</li>
            <li>Produits</li>
            <li>Categories</li>
            <li>Contact</li>
        </ul>
    {% endblock %}
    {% block content %}
    {% endblock %}

    {% block footer %}
        <ul>
            <li>A propos</li>
            <li>Mention legales</li>
            <li>Concept</li>
        </ul>
    {% endblock %}

{% endblock %}