{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-dark alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-dark alert-error">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-dark alert-warning">
        {{ flashMessage }}
    </div>
{% endfor %}